In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('./Project/data/links_de_power_160718.csv')
df.head()

,l_id,v_id_1,v_id_2,voltage,cables,wires,frequency,name,operator,ref,length_m,r_ohmkm,x_ohmkm,c_nfkm,i_th_max_a,from_relation,wkt_srid_4326,tmp1,tmp2,tmp3
0,1,1,2,220000,3.0,2.0,50.0,Leitung 2016,TenneT,2016,43396,0.0800,0.320,11.5,1.3,67129.0,'SRID=4326;LINESTRING(9.52257601112577 52.3604...,9.11321011483187 52.5438533448625)',NaN,NaN
1,2,3,4,380000,3.0,4.0,50.0,Leitung 3011,TenneT,NaN,72714,0.0250,0.250,13.7,2.6,67131.0,'SRID=4326;LINESTRING(9.38974515063535 52.0263...,9.12526574244048 52.5382641233458)',NaN,NaN
2,3,5,6,220000,3.0,2.0,50.0,Leitung 2024,TenneT,1,33954,0.0800,0.320,11.5,1.3,67151.0,'SRID=4326;LINESTRING(10.366274939217 52.28464...,9.91814868737007 52.3799963378317)',NaN,NaN
3,4,7,5,380000,3.0,4.0,50.0,Leitung 3026,TenneT,3026,33483,0.0250,0.250,13.7,2.6,67153.0,'SRID=4326;LINESTRING(9.9171797569037 52.27816...,10.366274939217 52.2846467643429)',NaN,NaN
4,5,8,9,380000,6.0,4.0,50.0,KKW Kr端mmel - UW L端neburg,TenneT,NaN,28172,0.0125,0.125,27.4,5.2,67585.0,'SRID=4326;LINESTRING(10.4149924241538 53.4126...,10.3787706356666 53.2197927695925)',NaN,NaN

In [10]:
del df['wkt_srid_4326']
del df['tmp1']
del df['tmp2']
del df['tmp3']

df.to_csv('./Project/data/edging.csv', sep=';')

In [7]:
df.head()

,l_id,v_id_1,v_id_2,voltage,cables,wires,frequency,name,operator,ref,length_m,r_ohmkm,x_ohmkm,c_nfkm,i_th_max_a,from_relation,tmp1,tmp2,tmp3
0,1,1,2,220000,3.0,2.0,50.0,Leitung 2016,TenneT,2016,43396,0.0800,0.320,11.5,1.3,67129.0,9.11321011483187 52.5438533448625)',NaN,NaN
1,2,3,4,380000,3.0,4.0,50.0,Leitung 3011,TenneT,NaN,72714,0.0250,0.250,13.7,2.6,67131.0,9.12526574244048 52.5382641233458)',NaN,NaN
2,3,5,6,220000,3.0,2.0,50.0,Leitung 2024,TenneT,1,33954,0.0800,0.320,11.5,1.3,67151.0,9.91814868737007 52.3799963378317)',NaN,NaN
3,4,7,5,380000,3.0,4.0,50.0,Leitung 3026,TenneT,3026,33483,0.0250,0.250,13.7,2.6,67153.0,10.366274939217 52.2846467643429)',NaN,NaN
4,5,8,9,380000,6.0,4.0,50.0,KKW Kr端mmel - UW L端neburg,TenneT,NaN,28172,0.0125,0.125,27.4,5.2,67585.0,10.3787706356666 53.2197927695925)',NaN,NaN